# https://EditorConfig.org

# This is the root of the project
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{html,html.tmpl}]
indent_style = space
indent_size = 2
