{{ define "content" -}}
<h1>New Recipe</h1>
<form method="POST">
  <label for="recipe-title">Title</label>
  <input id="recipe-title" name="title" required>
  <label for="recipe-instructions">Instructions</label>
  <textarea name="instructions"></textarea>
  <button type="submit">Submit</button>
</form>
{{- end }}
