{{ define "title" }}Edit Recipe{{ end }}

{{ define "content" -}}{{ template "app-page" . }}{{ end }}

{{ define "app-content" }}
<h1 class="mb-6 text-3xl">Edit Recipe</h1>

<form action='/recipes/{{.Recipe.ID}}/delete' method="POST">
  <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
  <button class="mb-8 px-2 py-1 bg-red-700 text-white">Delete</button>
</form>

{{ if not .Form.IsValid -}}<p class="mb-4 pl-2 border-l-2 border-l-red-700 lg:mb-6">Please correct the following problems.</p>{{- end }}
<form method="POST">
  <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
  <div class="mb-4 lg:mb-6">
    {{ template "form-field" formField "title" "Title" .Form.Title .Form.FieldErrors.title }}
  </div>
  <div class="mb-4 lg:mb-6">
    <label class="block mb-1 text-xl after:content-['*'] after:text-red-700" for="recipe-instructions">Instructions</label>
    <textarea class="block w-full p-1 border border-slate-600" name="instructions" rows="10" required>{{ .Form.Instructions }}</textarea>
    {{template "field-error" .Form.FieldErrors.instructions}}
  </div>
  <button class="text-xl italic uppercase border-b-2 border-b-slate-600 transition-all hover:border-b-lime-700 hover:after:content['→']" type="submit">Submit</button>
</form>
{{- end }}
