{{ define "content" -}}
<section class="mt-16 px-2 text-center lg:mt-32">
  <h1 class="mb-8 text-center text-4xl lg:mb-16 lg:text-6xl">My Food Stash</h1>
  <h2 class="text-2xl lg:text-3xl">Just recipes. No frills.</h2>
</section>
{{- end }}
