{{ define "title" }}Privacy Policy{{ end }}

{{ define "content" }}
<section class="max-w-3xl mx-auto px-2 prose">
  <h1>Privacy Policy</h1>
  <p>
    My Food Stash collects the minimum amount of data required to be useful.
  </p>
  <h2>Credentials</h2>
  <p>
    We use Google for authentication. This means that credentials such as your
    email and password are never provided to us. You provide your credentials to
    Google, and they provide us with a random sequence of characters to uniquely
    identify you.
  </p>
  <p>
    Specifically, we utilize the <code>openid</code> OAuth 2 scope. While this
    does grant access to personal information such as the name and email address
    associated with your Google account, we do not store that information. We
    only store the unique identifier for your account, which bears no relation
    to any of your personal information.
  </p>
  <h2>Personal Information</h2>
  <p>
    The first time you log in to the application, we request your name. This
    name is solely used to refer to you within the application, and is only
    visible to you.
  </p>
  <h2>Marketing &amp; Other Communications</h2>
  <p>
    My Food Stash will <strong>never</strong> contact you. We do not have
    access to any of your contact information.
  </p>
</section>
{{ end }}
