{{ define "title" }}{{ .Recipe.Title }}{{ end }}

{{ define "content" }}{{ template "app-page" . }}{{ end }}

{{ define "app-content" }}
<h1 class="mb-6 text-3xl lg:text-4xl">{{ .Recipe.Title }}</h1>
<pre class="mb-4 text-wrap">{{ .Recipe.Instructions }}</pre>
<hr class="mb-2">
<p class="text-slate-600">
  Added on {{ .Recipe.CreatedAt.Format "1/2/2006" }}
</p>
{{ end }}
