{{ define "base" -}}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}My Food Stash{{ end }}</title>
    <link rel="stylesheet" href='{{ staticURL "style.css" }}'>
  </head>

  <body class="min-h-[100dvh] font-serif flex flex-col justify-between">
    {{ template "navbar" . }}

    <main class="flex-grow w-full">
      {{ template "content" . }}
    </main>

    <footer class="w-full mt-16 py-8 px-2 bg-slate-200">
      <nav class="max-w-4xl mx-auto">
        <h3 class="text-lg">Pages</h3>
        <ul class="list-inside list-disc">
          <li><a class="underline" href="/">Home</a></li>
          <li><a class="underline" href="/privacy-policy">Privacy Policy</a></href>
        </ul>
      </nav>
    </footer>

    <script defer src='{{ staticURL "navbar.js" }}'></script>
    {{ block "navbar_scripts" . }}{{ end }}
  </body>
</html>
{{- end }}
