{{ define "base" -}}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ staticURL "style.css" }}'>
  </head>

  <body class="font-serif">
    <header class="max-w-4xl mx-auto mb-8 p-2 text-xl">
      <nav>
        <ul class="flex justify-between">
          <li><a class="underline" href="/">Home</a></li>
          {{ if .IsAuthenticated -}}
          <li><a class="underline" href="/recipes">All Recipes</a></li>
          <li><a class="underline" href="/new-recipe">New Recipe</a></li>
          <li>
            <form method="POST" action="/auth/logout">
              <input type="hidden" name="csrf_token" value='{{.CSRFToken}}'>
              <button class="underline">Log Out</button>
            </form>
          {{ else -}}
          <li><a class="underline" href="/auth/login">Log In</a></li>
          {{- end }}
        </ul>
      </nav>
    </header>

    <main>
      {{ template "content" . }}
    </main>
  </body>
</html>
{{- end }}
